= "---"
= "term: "+entry.term
= "synopsis:"
= "dictionary:"

= "cat: " + (entry.cat||="")
= "skill: " + (entry.skill||="")

= "also: "
= "related: "

= "---"
= "/ "
= "  markdown"
= "  # definition"
= "  (replace with info)"
= "  # extended definition"
= "  (replace)"
